/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/04/2014, 17:04:54
    Author     : gabriel.novais
*/

#conteudo {width: 100%;}
#conteudo #grid{ margin: 0 auto; width: 95%; }
#conteudo #gridTime{ margin: 0 auto; width: 25%; }
#conteudo #gridVersao{ margin: 0 auto; width: 50%;}
#conteudo #gridVersao .panel-heading{background-color: #D8DAE1;}
#conteudo #gridVersao .panel-heading h5{color: #000;}

.navbar {
position: relative;
min-height: 25px;
max-height: 25px;
margin-bottom: 20px;
border: 1px solid transparent;
font-size: 12px;
}
.navbar-inverse {
background-color: #006697;
border-color: #006697;

}
.navbar-inverse .navbar-nav > li > a {
color: #CCC;
margin-top: 0px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #006697;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: #fff;
background-color: #0071A3;
}
.panel-default > .panel-heading {
color: #696969;//#1C1C1C;
border-color: #ddd;
}
.navbar-nav > li > a {
padding-top: 2px;
padding-bottom: 2px;
}
.container {
padding-right: 0px;
padding-left: 0px;
margin-right: 0px;
margin-left: -23px;
}

.table {
width: 100%;
margin-bottom: 0px;
}
.container{min-width: 100%;}
.navbar-collapse{width: 100%;}

#att{  
 color: #ddd;
 float: right;
margin-right: -220px;

 
}

#resumoCrc li{height: 25px;}
#resumoCrc li img{width:25px;}
#resumoCrc li span{float: right; width:20px; padding:2px 2px 2px 2px; background-color:#006697; color:#FFF; border-radius:2px;}


.table{font-size: 12px;}
.table th {text-align: left; }
.table td{font-size: 10px;}
.table td{ width: auto;}
.table b { color:#ff0000; }
.table b a{ color:#ff0000;  text-decoration:underline; }
.table b1 { color:#FFF; }
.table b1 a{ color:#FFF;  text-decoration:underline; }
.table form{margin-top: -20px;}
bandeira img{ float: left; margin-right: 10px; margin-left: -24px;}
hoje img{width: 15px; }
vermelho img{width: 15px; }
verde img{width: 15px; }

/*  Paginacao*/
.paginacao{float: left; height:40px; margin-top:15px;  }
.paginacao a{ padding:5px 8px; background:#006697; color:#FFF; margin-right: 2px; text-decoration:none;}
.paginacao a:hover{background:#0071A3; cursor:pointer;}
.paginacao .pgSel{display: inline; color:#FFF; padding:5px 8px; background:#006697; margin-right: 2px;}

.form-signin{width: 200px;}

.form-horizontal{ margin-left:5%; width:50%;}


#EditaRel {width: 90%;}
#EditaRel span{ float: left;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#nomeCargo {font-size:  12px; font-weight:bold; text-decoration: underline;  }

#textoCargo {margin-left: -30px;}
.caption #textoCargo p  ul{list-style-position: outside;}

.linhaAbaixoGrid { height: 33px;   }
.novoRel button{float: left; margin-top: 0; background-color: #1C1C1C; color: #ddd;}
.novoRel a{color: #FFF; text-decoration: none; }
.novoRel img{margin-top: -10; width: 32px; height: 32px; }
.novoRel button:hover  { background-color: #666; cursor: pointer;}
.novoRel button:hover  a{ color: #FFF; cursor: pointer;}
.paginacao {float: right; margin-top: -30;}


#topo {width:100%;height:auto; margin:0 auto; position:static; margin-bottom: 7px;}
#topo a{float: right; margin-top: 1px; width: 30px;}
#topo a img{float: right;}
#topo a h6{float: right; margin-left: 80%; margin-top: -2px;}
#topo a span{float: right; margin-left: 80%; margin-top: 0 auto;}



/*
#topo #btn_sup  {width:100%; height:40px;  margin:0 auto; position:static; margin-top: -45px; }
#topo #btn_sup  a{ cursor:pointer; float:right; margin-right:1%; float:right;}
#topo #btn_sup  a span{font-size:11px; float: right;}
#topo #btn_sup  img{ width:20px; height:20px; margin-left: 55px ;}
#topo #btn_sup  h6{margin-top:0; text-decoration:none; float:right; }
*/




#galeria img {
	opacity:0.40;
	-moz-opacity: 0.40;
	filter: alpha(opacity=40);
	}

#galeria img:hover {
	opacity:0.99;
	-moz-opacity: 0.99;
	filter: alpha(opacity=99);
	}

p1{color: #090;}
p2{color: #ff0000;}


.div-ajax-carregamento-pagina
{
position: absolute;
top: 120px;
left: 0px;
width: 100%;
height: 80%;
z-index: 9999997;
/* transparência compatível com os navegadores comuns.*/
opacity:0.65;
-moz-opacity: 0.65;
filter: alpha(opacity=65);
background: black;
text-align: center;
}


#FilePen{
    width: 490px;margin-top: 15px;
    }
#FilePen #input1{ float: left;  margin-left: -65px; armargin-right: 30px; width: 300px; }

.panel-heading span{
    border:5px solid transparent;
    
    
}
.panel-heading .cima{ border-bottom-color:#000; float: right; margin-top: -15px;  }
.panel-heading .baixo{ border-top-color:#000; float: right; margin-top: -5px;  }

fet {float: right; position: relative; margin-top: -43px; margin-right: 10px; }
fet button{color:#FBFBFB; 
           text-decoration: none;
           background: transparent;
           border: none; }
fet button:hover{color:#FFF; text-decoration: none; border: none;}

btnCrono{
    floar:left;
}
btnCrono button{
    text-decoration: none;
           background: transparent;
           border: none;
           margin: 0px;
           padding: 0px;
           width: 20px;
}