
/* -- CABEÇALHO -- */
.bloco-topo {
    width: 15%;
    float: left;
    text-align: center;
    height: 100%;
    padding: 10px;
    padding-top: 15px;
}

#topo{
    display:none;
}

#caixa-qtd{
width: 100px;
height: 40px;
background-color: #ddd;
float: left;
margin-left: 0px;
border-radius: 10PX;
font-size:30px;
}
.navbar-inverse {
    display: none;
}

/* -- CONTEUDO -- */
#painel{
    width: 49.4%;
    height: 40%;
    margin: 0.3%;
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);      
}

body{
    background-color: #f7f7f7;
    overflow: hidden;
}

.highcharts-credits{
    display:none !important;
}

.highcharts-title{
    fill: #737373 !important;
    font-weight: bold;
}

.highcharts-button-symbol{
    display: none !important;
}

.highcharts-legend .highcharts-legend-box{
    display: none !important;
}

#quadrado-criticas{
    width: 100px;
    height: 40px;
    background-color: #F44336;
    float: left;
    margin-left: -15px;
    border-radius: 10PX;
    font-size: 30px;
    z-index: 999;
    color: WHITE;
    text-align: center;
    position: fixed;       
}

#titulo-criticas{
    position: absolute;
    z-index: 999;
    margin-left: 55px; 
    color:#F44336;      
}

rect[Attributes Style] {
    stroke: darkgrey !important;
}

.area-titulo-grafico-3{
    width:100%;
    height:9%;
    float:left;
    fill: #737373 !important;
    font-weight: bold;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    padding: 5px;
    color: #737373 !important;
    text-align: center;
}

.topo-visao-geral{
    width: 49.4%;
    height: 58%;
    margin: 0.3%;
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1); 
    font-weight:bold; 
}

.painel-grafico-sac{
    width: 49.4%;
    height: 58%;
    margin: 0.3%;
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);  
}

.painel-grafico-count{
    width: 49.4%;
    height: 58%;
    margin: 0.3%;    
    float: left;
}

.painel-grafico-count .topo-visao-geral{
    width:100%;
    height:20%;
    float: left;
    margin:0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);  
}

.painel-grafico-count .painel-grafico-produto-cliente{
    width:100%;
    height: 77.7%;
    margin-top: 1.5%;
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);  
}

.painel{
    width: 49.4%;
    height: 40%;
    margin: 0.3%;
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);    
}

.painel-grafico-sac .area-dia-mes{
    width: 100%;
    height:50%;
    float:left;
}

.painel-grafico-sac .area-mes{
    width: 100%;
    height:50%;
    float:left;
}